<a href="https://colab.research.google.com/github/lauracantik/mathtools/blob/main/Tugas03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

#data set link
dataset = pd.read_csv("https://raw.githubusercontent.com/lauracantik/mathtools/main/healthcare-dataset-stroke-data.csv");

In [2]:
# menampilkan data kedalam Tabel
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
# memisahkan data independent dengan dependent

# DATA DEPENDENT
x = dataset['stroke']
# DATA INDEPENDENT
y = dataset.drop(['id', 'stroke'], axis=1)

print(x)
print(y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64
      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status
0             Urban             228.69  36.6  formerly smoked
1             Rural             202.21   NaN     never smoked
2             Rural             105.92  32.5     never smoked
3             Urban             171.23  34.4           smokes
4             Rural             174.12  24.0     never smoked
...             ...                ...   ...              ...
5105          Urban              83.75   NaN     never smoked
5106          Urban             125.20  40.0     never smoked
5107          Rural              82.99  30.6     never smoked
5108          Rural             166.29  25.6  formerly smoked
5109          Urban              85.28  26.2          Unknown

[5110 rows x 10 columns]